@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    color: white;
    position: absolute;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

button {
    margin: 0;
    padding: 0;
    width: 10em;
    height: 2.5em;
    position: absolute;
    left: 50%;
    top: 52.5%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 47.5%;
    width: 70%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}